@model IEnumerable<Course>

@{
    ViewData["Title"] = "Courses";
}

<div class="container">
    <div class="row">
        <h2 class="text-center">Courses that you teach</h2>
        <hr />
        @foreach (var item in Model)
        {
            <div class="col-sm-3 col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-thumbnail">
                        <a asp-action="Enroll" asp-route-id="@item.Id">
                            <img src="@item.ImagePath" class="img-responsive" height="150" width="250" />
                        </a>
                    </div>
                    <div class="panel-body">
                        <p class="lead">@item.Title</p>
                        <p class="lead">@item.Revenue</p>
                        <p class="lead">@item.Description</p>
                        <p>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-default">Edit course</a>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


